Flask
Flask-Login
Flask-WTF
PyMongo
beautifulsoup4
requests
pymongo[srv]
Flask-SocketIO
python-dotenv
Werkzeug
schedule
bcrypt
python-dateutil
Pillow
celery
redis
transformers
torch
accelerate
numpy
pandas
lxml